@use "../../styles/main.scss" as *;

.question {
  @include v-stack;
  @include on-load-animation(slide-down);
  gap: $gap-ml;
  .question__header {
    text-align: center;
    font-size: $txt-ms;
    text-transform: uppercase;
    color: var(--fg-5);
    .question__header__help-box {
      @include l-pad;
      display: inline-flex;
      translate: 0px 15%;
      .question__header__help-box__token {
        &.--highlight {
          color: var(--caution-3);
        }
        &.--superscript {
          vertical-align: super;
          font-size: $txt-xs;
        }
      }
    }
  }
  .question__prompt {
    text-align: center;
    .question__prompt__token {
      font-size: $txt-ml;
      font-weight: $bold;
      &.--highlight {
        color: var(--caution-3);
      }
    }
  }
  .question__user-input {
    @include v-stack;
    align-items: center;
  }
  .question__readonly {
    @include v-stack-c;
    gap: $gap-md;
    align-items: center;
    .question__readonly__answer {
      @include h-stack-c;
      justify-content: center;
      gap: $gap-ml;
      font-size: $txt-md;
      text-transform: uppercase;
      color: var(--fg-3);
      .icon {
        vertical-align: middle;
        font-size: $txt-lg;
      }
      &.--correct {
        font-weight: $bold;
        .icon * {
          color: var(--success-3);
        }
      }
      &.--incorrect {
        .icon * {
          color: var(--danger-3);
        }
      }
    }
    .question__readonly__proof {
      @include round;
      @include shadow;
      @include v-pad($gap-xl);
      @include h-pad($gap-xxl);
      @include l-mar($gap-xxl);
      @include t-mar($gap-xl);
      background-color: var(--bg-3);
      .question__readonly__proof__token {
        font-size: $txt-ms;
        &.--highlight {
          color: var(--caution-3);
          font-weight: $bold;
        }
        &.--superscript {
          vertical-align: super;
          font-size: $txt-sm;
        }
      }
    }
    .question__readonly__hr {
      @include t-mar($gap-xxl);
    }
  }
}
